.gesan {
width: 760px;
}

.tbl{
    width: 700px;
}

.tbl caption {
    display: none;
}

.tbl th,
.tbl td {
    padding: 20px 0;
    border: 1px solid #999;}

.tbl td {
    text-align: center;
}